@font-face {
    font-family: AVGARDN;
    src: url(../../../assets/fonts/AVGARDN.TTF);
    font-display: swap;
}

@font-face {
    font-family: HelveticaNeueThn;
    src: url(../../../assets/fonts/HelveticaNeue-Thin.otf);
    font-display: swap;
}
