@import "fonts";

//-*----------  START FONTS BASE  ----------*/

$helvetica-neue-font: "HelveticaNeueThn", sans-serif;
$avgardn-font: "AVGARDN", sans-serif;
$base-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

//-*----------  END FONTS BASE  ----------*/

//%-*=====  End of GLOBAL STYLE SECTION  ======*-//

$main-font: $avgardn-font, $base-fonts;

$primary-color: #303030;
$primary-background-color: #fbb90c;

$default-font-size: 1rem;
